@use '../abstracts/variables.scss' as variables;

.container {
  width: 100%;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  font-family: variables.$PoppinsRegular;

  @media (max-width: 769px) {
    height: 100%;
  }
}
.form__container {
  max-width: 400px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 30px;

  .top__header {
    h3 {
      font-family: variables.$PoppinsBold;
      color: variables.$teal;
      font-size: 2.5rem;
      width: 100%;
      padding-bottom: 20px;

      @media (max-width: 769px) {
        font-size: 2rem;
      }
    }
  }

  form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      max-width: 350px;
      width: 100%;
      height: 50px;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      outline: none;
      border-radius: 5px;
    }

    .forget__password {
      align-self: flex-end;
      padding: 10px 0;

      a {
        color: variables.$dark;
        font-size: 1rem;
      }
    }

    button {
      align-self: flex-start;
      width: 100%;
      height: 50px;
      font-size: 1.8rem;
      margin: 10px 0;
      cursor: pointer;
      background: variables.$teal;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  }
  .sign__up {
    align-self: center;
    padding: 10px 0;

    a {
      color: variables.$dark;
    }
    span {
      color: variables.$teal;
    }
  }
}
