@use "../abstracts/variables.scss" as variables;

.grid {
  display: grid;

  gap: 10px;
  padding: 10px;
}
.apply__from {
  width: 100%;
  height: 100%;
  font-family: variables.$PoppinsRegular;

  .form__container {
    max-width: 900px;
    width: 100%;
    height: 100%;

    margin: 0 auto;
    @extend .grid;

    h2{
      font-size :  3rem;
      color : variables.$dark;
      font-family: variables.$PoppinsBold;
      text-align: center;
    }
  }

  form{
  width: 100%;
  height: 100%;

    .form__group{
      @extend .grid;
      width: 100%;
      gap: 20px;

      h3{
        font-size: 1.6rem;
        color: variables.$dark;
        padding: 10px 0;
      }
    }
    .select__input{
      display : flex;
      align-items: center;
      gap: 10px;

      select {
        max-width: 200px;
        width: 100%;
        accent-color: variables.$teal;
        padding: 10px;
        outline: 1px solid #eee;
        border: none;
        
      }
      
    }
    .form__inputs{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      input {
        max-width: 400px;
        width: 100%;
        padding: 10px;
        height : 60px;
        outline: none;
        border-radius: 5px;
        border: none;
        background : white;
        box-shadow: 1px 1px 1px 1px #f1f0f0;
      }
    }

    button{
      max-width: 200px;
      width: 100%;
      padding: 10px;
      margin: 20px 0;

      border-radius: 10px;
      border: none;
      outline: none;
      background: variables.$teal;
      color: white;
      font-family: variables.$PoppinsBold;
      font-size: 1.2rem;
      cursor: pointer;

    }
  }
 
}

.contact {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;

  .contact__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    height: 100%;

    h3 {
      font-family: variables.$PoppinsBold;
      color: variables.$dark;
      font-size: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        border-radius: 5px;

        width: 100%;
        height: 60px;
        font-size: 1rem;
        padding: 0.5rem;
        border: none;
        outline: none;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        font-family: variables.$PoppinsRegular;
      }

      textarea {
        max-width: 100%;
        width: 100%;
        max-height: 150px;
        border-radius: 5px;
        padding: 0.5rem;
        border: none;
        outline: none;
        background: #fff;
        font-family: variables.$PoppinsRegular;
        font-size: 1rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      button {
        max-width: 200px;
        width: 100%;
        padding: 10px 5px;
        height: 60px;
        margin-top: 10px;
        border-radius: 5px;
        background: variables.$teal;
        color: white;
        border: none;
        outline: none;
        font-size: 1.5rem;
        font-family: variables.$PoppinsBold;
        cursor: pointer;
      }
    }
  }
}

.application__form{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 769px){
    flex-direction: column;
    gap: 10px;
  }

  .calculator {
      position: relative;
      left: 50px;
      height: 450px;
      max-width: 400px;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      background: #fff;
      font-family: variables.$PoppinsRegular;

      @media screen and (max-width: 769px) {
        left: 0;
      }

      h4 {
        font-size: 1.8rem;
        font-family: variables.$PoppinsMedium;
        color: variables.$dark;
        text-align: center;
        margin-bottom: 20px;
      }
      .loan__input{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: #fff;
        font-family: variables.$PoppinsRegular;
        font-size: 1rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      .loan__amount {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .top {
          display: flex;
          justify-content: space-between;
        }

        gap: 10px;
        padding: 20px 10px;

        .input {
          accent-color: variables.$teal;
          color: white;
          border: none;
          outline: none;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }
      .repayment {
        width: 100%;
        height: fit-content;
        border-radius: 10px;

        display: flex;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px #f1f0f0;

        justify-content: space-between;

        label {
          font-weight: 300;
          color: rgb(49, 47, 47);
        }

        .item {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        .years__item {
          display: flex;
          align-items: center;
          gap: 5px;
          background: #f1f3f4;
          border-radius: 10px;
          box-shadow: 1px 1px 1px 1px #f1f0f0;
          padding: 10px;
          span {
            background: rgb(255, 255, 255);
            box-shadow: 1px 1px 1px 1px #f1f0f0;
            color: variables.$teal;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;
          }
          input {
            max-width: 55px;
            width: 100%;
            height: 22px;
            outline: none;
            border: none;
            text-align: center;
            background: transparent;
          }
        }
      }
      button {
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        border-radius: 10px;
        background: variables.$teal;
        font-size: 1.5rem;
        outline: none;
        border: none;
        color: white;
        font-family: variables.$PoppinsBold;
        cursor: pointer;
      }
      small {
              color :  rgb(17, 16, 16);

      }
    }

}

.personal__details{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  gap: 20px;

  .form__input{

    input {

    
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #fff;
    font-family: variables.$PoppinsRegular;
    font-size: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}
.selects__container{
  display : grid;
  width: 100%;
  gap: 10px;
  padding: 10px 0;


  select{
    width: 100%;
    max-width: 200px;
    padding: 10px;

  
    border:  1px solid #f1f0f0;
  
  }

}


}