@use '../abstracts/variables.scss' as variables;

.section__about {
  width: 100%;
  height: auto;
  padding: 20px;

  .container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: grid;
    flex-direction: column;

    @media screen and (max-width: 769px) {
      height: auto;
    }

    .container__content {
      width: 100%;
      height: 350px;
      background-color: #979797;
      background-image: url('https://res.cloudinary.com/devtedcloud/image/upload/q_22/v1685956866/depfin-finance/pexels-photo-2599538_1_1_czdf1j_1_r3mh1t.webp');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      background-blend-mode: multiply;
      padding: 20px;
      span {
        color: white;
      }

      h2 {
        font-size: 4.9rem;
        width: 60%;
        color: variables.$teal;

        @media screen and (max-width: 769px) {
          font-size: 2.9rem;
          width: 100%;
        }
      }
    }

    .introduction {
      max-width: 800px;
      width: 100%;
      padding: 20px;
      height: autot;
      font-family: variables.$PoppinsRegular;

      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: -90px;
      left: 20px;
      gap: 20px;

      @media screen and (max-width: 769px) {
        left: 5px;
      }

      p {
        font-size: 1rem;
      }
      .requirements {
        display: grid;

        h3 {
          font-size: 1.6rem;
          font-family: variables.$PoppinsMedium;
          color: variables.$dark;
          text-transform: uppercase;
          margin-bottom: 20px;
          text-align: center;
        }
      }
      .required__items {
        display: grid;
        gap: 10px;

        span {
          display: flex;
          align-items: center;
          gap: 3px;
        }
        .icon {
          color: variables.$teal;
        }
      }
    }

    .steper {
      max-width: 800px;
      width: 100%;
      height: 100%;
      padding: 30px;
      font-family: variables.$PoppinsRegular;
      border-radius: 10px;
      display: grid;
      gap: 10px;
      place-items: center;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      top: -100px;
      right: 0;
      justify-self: flex-end;

      @media screen and (max-width: 769px) {
        top: -60px;
      }

      h5 {
        font-size: 1.6rem;
        font-family: variables.$PoppinsMedium;
        color: variables.$dark;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
      }
    }

    .testimonials {
      display: grid;
      place-items: center;
      padding: 3rem 0;

      h5,
      h4 {
        font-size: 2rem;
        font-family: variables.$PoppinsMedium;
        color: variables.$dark;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
}
