@use "../abstracts/variables.scss" as variables;
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        accent-color: variables.$teal;
}

img,
.image,
.blog__image {
  contain-intrinsic-size: 300px;
}

button,
a,
input,
.card {
  transition: all 0.3s ease-in-out;
}

.app{
        display: grid;
        gap: 10px;
}
.css-187mznn-MuiSlider-root{
        color: #01C5C4 !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root .css-1hwfws3-MuiOutlinedInput-input{
        color: #01C5C4 !important;
}
.contact{
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        height : 100%;
        display: grid;
        place-items: center;
        padding: 20px;

        h2{
                font-family: variables.$PoppinsBold;
                color: variables.$dark;
                font-size: 2.5rem;
                text-align: center;


        }
}

.loan__cards{
         display: grid;
  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.tabe__data{
        height: 200px;
        width: 100%;
}
.table_con{
        height: 100%;
        width: 100%;
        border: 1px solid #eee;
}
.profile{
        height: 100%;
        width: 100%;
}
.table{
        height: 100%;
        padding: 20px 0;

        h6{
                font-family: variables.$PoppinsBold;
                color: variables.$dark;
                font-size: 1.5rem;
                text-align: center;
        }
}

.policy{
        max-width: 1250px;
        margin: 0 auto;
        width: 100%;
        height : 100%;
        display: grid;
       
        padding: 20px;
        font-family: variables.$PoppinsRegular;

        p{
                padding: 10px 0;
        }
}

.terms__link{
        color: #000;

        span{
                color: #01C5C4;
        }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;

        @media (max-width: 769px){
                right: 15px;
        }
}

.my-float{
	
        color: white;

        width: 100%;
        height: 100%;
        display: grid;
        font-size: 4rem;
        place-items: center;

        svg{
                color: white;
                font-size: 3.7rem;
        }


}

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons {
width :  100%;
display :  flex;
align-items :  center;
gap : 10px;
}
.social-button{
        width : 40px;
        height : 40px;
        border-radius : 50%;
        display :  grid;
        place-items :  center;

}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
 background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
.sitemap{
        max-width: 1250px;
        margin: 0 auto;
        width: 100%;
        height : 100%;
        display: grid;
        
        padding: 20px;
        font-family: variables.$PoppinsRegular;

        h1{
                padding: 40px 0;
                font-size: 3rem;
        }

        ul{
                display : grid;
                gap :  15px;
                

                a{
                        color: #000;
                        text-decoration: underline;
                }
        }
}